*{
  margin: 0px;
  padding: 0px;
}
body{
  background: rgb(18, 18, 19);
}
.calc{
  width: 350px;
  height: 650px;
  border: .8rem groove black;
  border-radius: 10px;
  margin-left: 500px;
  box-shadow: 5px 10px 10px rgb(37, 37, 37);
  background-color: rgb(19, 26, 26);
}
#screen{
  width: 300px;
  height: 70px;
  background-color: rgb(178, 207, 207);
  margin-left: 25px;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 3rem;
}
.button{
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  width: 230px;
  height: 70px;
}
.single_button{
  width: 70px;
  height: 70px;
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(73, 83, 80);
}
.color{
  background-color: orangered;
}
#last_row{
  margin-left: 40px;
}
.shift{
  margin-left: 10px;
}

@media (max-width:400px){
.calc{
  width: 100vw;
  margin-left: 0px;
  height: 240vw;
}

#screen{
  width: 85vw;
}

.button{
  margin-left: 8vw;
  width: 85vw;
  height: 30vw;
}
.single_button{
  width: 150px;
  height: 100px;
}

#last_row{
  margin-left: 0px;
}
}